@import "../partials/header_footer";

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 12px;
  margin-top: 1rem;

  div:nth-child(odd) {
    color: lightgrey;
  }
}
