@import "../partials/header_footer";
@import "../partials/donation_target";
@import "../partials/steam_info";
@import "../partials/xbox_info";
@import "../partials/discord_info";

h4.package-category {
  margin-top: 3rem;
}

.packages {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: start;

  > form {
    flex: 1 1 auto;
    max-width: 360px;
  }
}

.card.package {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .card-image {
    background-color: transparent;
  }

  .card-content {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: 16px;
    }
  }

  .card-action {
    .donation-action {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      > button:first-of-type {
        flex: 4;
      }

      > button:last-of-type {
        &:hover, &:active {
          background-color: #1ee2ff;
        }

        display: inline-flex;
        justify-content: center;
        align-items: center;

        background-color: #1e9dff;
        flex: 1;

        img {
          height: 1.75rem;
        }
      }
    }

    > button, > a {
      width: 100%;

      &:not(:first-child) {
        margin-top: 0.75em;
      }
    }
  }

  .package-information {
    margin-top: 0.5em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    span {
      display: list-item;
      list-style: square inside;
    }
  }

  .price {
    display: flex;
    justify-content: end;
    font-size: 1.5em;
    margin-top: 12px;
  }
}
