<%- include('../partials/header.ejs') %>
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><%= translate('WAIT_FOR_PAYMENT_TITLE') %></span>
            <p>
                <%= translate('WAIT_FOR_PAYMENT_DESCRIPTION') %>
            </p>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>
