<% if (showDonationTarget) { %>
    <div class="row donation-target">
        <div class="col s12">
            <div class="loading">
                <div class="placeholder"></div>
                <div class="placeholder"></div>
            </div>
        </div>
    </div>
    <script src="/assets/js/partials/donation_target.js"></script>
<% } %>
