<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Logos</h5>
                <p class="grey-text text-lighten-4">©2021 Valve Corporation. Steam and the Steam logo are trademarks and/or registered trademarks of Valve Corporation in the U.S. and/or other countries.</p>
                <p class="grey-text text-lighten-4">The PayPal logo provided by the logo-center of PayPal.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © <%= new Date().getFullYear() %>, developed by Florian Schmidt
        </div>
    </div>
</footer>
</body>
</html>
