<% [0, 1, 2].forEach(function () { %>
    <div class="owned-perk card loading">
        <div class="card-image">
            <div></div>
        </div>
        <div class="card-content">
            <div class="placeholder"></div>
            <div class="placeholder"></div>
        </div>
    </div>
<% }) %>
