<% if (step === 'PACKAGE_SELECTION') { %>
    <h4><%= translate('PERKS_OWNED_TITLE') %></h4>
    <div class="perk-list">
        <%- include('loading.ejs'); %>
    </div>
    <script src="/assets/js/partials/perks_you_own.js"></script>
<% } %>
