<div class="col s12 m9 l9">
    <div class="card">
        <div class="card-content">
            <span class="card-title"><%= translate('PRIORITY_QUEUE_TITLE') %></span>
            <p><%= translate('PRIORITY_QUEUE_DESCRIPTION') %></p>
            <div class="status">
                <% if (redeemStatus === 'COMPLETE') { %>
                    <i class="material-icons success">check_circle</i> <%= translate('PRIORITY_QUEUE_REDEEM_COMPLETE', {
                        params: {
                            until: priorityUntil
                        }
                    }) %>
                <% } %>
            </div>
        </div>
        <% if (redeemStatus !== 'COMPLETE') { %>
            <div class="card-action">
                <a href="./redeem"><%= translate('PRIORITY_QUEUE_REDEEM') %></a>
            </div>
        <% } %>
    </div>
</div>
