body {
  background-color: #212121;
  color: #fff;

  input[type="text"], textarea {
    color: white;
  }

  .card {
    background-color: #616161;

    .card-image {
      padding: 16px;
      background-color: white;

      .error, .success, .info {
        font-size: 142px;
        display: flex;
        justify-content: center;
      }
    }

    .status {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    i.success {
      color: #43a047;
    }

    i.error {
      color: #e53935;
    }
  }

  .collection {
    .collection-item {
      background-color: transparent;
    }
  }

  input[type="submit"].link {
    border: 0;
    background: transparent;
    color: #ffab40;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #ffd8a6;
    }
  }

  .input-field {
    .clickable {
      cursor: pointer;
    }
  }
}
