body {
  background-color: #212121;
  color: #fff;

  nav {
    background-color: #616161;
  }

  .card {
    background-color: #616161;

    .card-image {
      padding: 16px;
      background-color: white;

      .error, .success {
        font-size: 142px;
        display: flex;
        justify-content: center;
      }
    }

    .status {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 8px;
    }

    i.success {
      color: #43a047;
    }

    i.pending {
      color: #fdd835;
    }

    i.error {
      color: #e53935;
    }
  }
}
