@use "colors";
@import "node_modules/materialize-css/dist/css/materialize.min";

body {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  min-height: 100vh;
  background-color: #181818;
  color: #fff;

  input[type="text"], textarea, label {
    color: white;
  }

  [type=checkbox].filled-in:checked+span:not(.lever):after {
    border: 2px solid #8b4107;
    background-color: #8b4107;
  }

  [type=checkbox].filled-in:not(:checked)+span:not(.lever):after {
    border-color: white;
  }

  .card {
    background-color: #1f1f24;
    //box-shadow: rgb(0 0 0 / 19%) 0 10px 20px, rgb(0 0 0 / 23%) 0 6px 6px;
    box-shadow: rgb(0 0 0 / 18%) 0 4px 12px, rgb(0 0 0 / 24%) 0 6px 6px;

    .card-image {
      padding: 16px;
      background-color: white;

      .error, .success, .info {
        font-size: 142px;
        display: flex;
        justify-content: center;
      }
    }

    .card-action {
      border-top: 1px solid #f0f0f0;
    }

    .status {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    i.success {
      color: #43a047;
    }

    i.error {
      color: #e53935;
    }
  }

  .collection {
    .collection-item {
      background-color: transparent;
    }
  }

  input[type="submit"].link {
    border: 0;
    background: transparent;
    color: colors.$secondary;
    margin-right: 24px;
    transition: color .3s ease;
    text-transform: uppercase;
    cursor: pointer;

    &:hover, &:focus {
      color: colors.$primary;
    }
  }

  .input-field {
    .clickable {
      cursor: pointer;
    }
  }

  .btn, .btn-small {
    background-color: colors.$primary;

    &:hover, &:focus {
      background-color: colors.$secondary;
    }
  }

  .progress {
    background-color: colors.$secondary;

    .determinate {
      background-color: colors.$primary;
    }
  }

  .secondary-content {
    color: colors.$primary;
  }
}
