<%- include('partials/header.ejs') %>
<div class="container">
    <div class="row privacy-policy">
        <div class="col s12">
            <h3>
                <%= translate('PRIVACY_POLICY') %>
            </h3>
            <%- policy %>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>
